{% extends "base.html" %}
{% block content %}

<form action="/city" method="post">

    <div>
        <label for="Name">Name:</label>
        <input type="text" id="name" name="name" placeholder="Name" required autofocus>
    </div>

    <div>
        <label for="Country">Country:</label>
        <select id="country" name="country_id">

        {% for country in all_countries %}
        <option value="{{country.id}}">{{country.name}}</option>
        {% endfor %}
        </select>
    </div>

    <div>
        <label for="Visited">Visited</label>
        <select id="visited" name="visited">
            <option value="0">False</option>
            <option value="1">True</option>
        </select>
    </div>

    <button type="submit">Add City</button>

</form>

{% endblock %}