{% extends "base.html" %}
{% block content %}
{% for city in all_cities %}
    <div
    class="bucket-list">
    <p>
        <li>
            {{city.name}},
            {{city.country.name}}
        </li>
    </p>
    <div>
            Visited: {% if city.visited == True %}
            True
            <i class="fa fa-check"  aria-hidden="true"></i>
            {% endif %}
        </div>
    </div>
    <p><a href="/city/{{city.id}}/edit">Edit</a></p>
    <form class="delete-form" action="/cities/{{ city.id }}/delete" method="POST">
        <button class="trash button">Delete</button>

    </form>
{% endfor %}
{% endblock %}
