<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Bucket List</title>
</head>
<body>
    <h1>My Bucket List</h1>
    <header>
        <nav>
          <div class="menu">
            <a href="/">Home</a>
            <a href="/bucket-list">Bucket List</a>
            <a href="/city/add">Add City</a>
        </div>
        </nav>
    </header>

    {% block content %}

    {% endblock %}
</body>
</html>