<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Bucket List</title>
</head>
<body>
    <h1>My Bucket List</h1>
    <header>
        <nav>
          <ul class="menu">
            <li><a href="/bucket_list">Bucket List</a></li>
            <li><a href="/add_city">Add City</a></li>
          </ul>
        </nav>
    </header>
</body>
</html>